  body {
      background: #161616;
   
  }
*{
       scroll-behavior: smooth;
}

/* header css start */
 header{
      background: url("../images/hero_dark_two.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 850px;
      background-color: rgba(0, 0, 0, 0.438);
      background-blend-mode: multiply;
    }
    .dark{
        background: #000;
    }
    .navbar-nav .nav-item a{
      font-size: 17px;
      text-transform: uppercase;
      color:rgba(255, 255, 255, 0.815);
      font-weight: 500;
    }

.box-home h1{
  font-size: 70px;
  text-transform: uppercase;
}
.navbar-brand img{
  width: 120px;
}

   .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}
@media (max-width:768px) {
  .navbar-color{
    background: gray;
    border-radius: 7px;
  }
  .box-home h1{
  font-size: 30px;
  text-transform: uppercase;
}
 .box-home h2{
   font-size: 15px;
 }
 .box-home h5{
   font-size: 14px;
 }
 

}
 .navbar-nav .nav-item .nav-link {
      position: relative;
      /* background: rgba(128, 128, 128, 0.274); */
      background: none;
      border-radius: 5px;
      z-index: 1;
  }

   .navbar-nav .nav-item .nav-link::before {
      content: "";
      position: absolute;
      color: white;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
      transform: scale(0);
      transition: 0.5s;
      background-color:rgb(16, 182, 182);

  }
   .navbar-nav .nav-item .nav-link:hover::before {
      transform: scale(1);
  }
  
/* header css end */


  .box {
      border: 1px solid rgba(128, 128, 128, 0.363);
      border-left: 5px solid #02cdcf;
      position: relative;
      padding: 30px;
      border-radius: 7px;
      /* overflow: hidden; */
      background: #161616;

  }

  .m-top {
      margin-top: 100px;
  }

  .m-bottom {
      margin-bottom: 60px;
  }

  .edu-uni {
      background: rgb(82, 79, 79);
      /* width: 50%; */
      display: inline-block;
      padding: 2px;
      border-radius: 2px;
  }

  .circle-box,
  .text-c {
      background: #02cdcf;
  }

  .text-c {
      border-radius: 4px;
      padding: 0 10px;
  }

  .circle-box {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      /* background: green; */
      margin-left: -40px;
      top: 20%;
      z-index: 1;
      position: absolute;
  }


  /* animated bar css */
  .bar {
      position: relative;
      width: 110px;
      height: 5px;
      background: #02cdcf;
      border-radius: 10px;

  }

  .circle {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #02cdcf;
      animation: anim 2s linear infinite;
      transition: 0.5s;
      margin-top: -2px;

  }

  .bar-width {
      width: 110px;
      margin: 0 auto;
  }

  @keyframes anim {

      /* 50%{
                margin-left: 100px;

            } */
      100% {
          margin-left: 100px;
      }

      0% {
          margin-left: 0%;
      }

  }


  /* progress bar custom css */
  .progress-box {
      border: 1px solid rgba(128, 128, 128, 0.384);
      padding: 5px 20px;
      border-radius: 7px;
      background: #161616;
  }

  /* success and award section  */
  .award-box {
      border: 1px solid rgba(128, 128, 128, 0.329);
      padding: 30px 50px;
      border-radius: 7px;
      text-align: center;
      background: #161616;
      margin-bottom: 20px;
  }

  .award-box h1 {
      font-weight: 900;
  }

  .award-box i {
      font-size: 50px;
      color: #02cdcf
  }


  /* clients section  */
  .clients-box {
      background: #fff;
      padding: 50px;
      /* height: 220px; */
      border-radius: 7px;
      transition: 0.5s;
      margin: 5px;
  }

  .clients-box:hover {
      transform: scale(1.2);
  }

  .clients-box img {
      width: 100px;
      height: 100px;
      /* height: 110px; */
  }

  /* working process section */

  .working-process-box img {
      width: 100%;
      height: 100%;
      border-radius: 7px;
  }

  .working-text {
      padding: 0 20px;
  }

  .working-text ul li {
      list-style-type: none;
  }

  .working-text ul li::before {
      content: "\2022";
      color: #02cdcf;
      font-weight: bold;
      display: inline-block;
      font-size: 28px;
      width: 1em;
      /* margin-top: -5px; */
      margin-left: -1em;
  }


  /* about us section  */



  .info {
      position: relative;

      /* width: 450px;
            height: 650px; */
      /* margin-top: 50px; */
      overflow: hidden;
      /* border: 10px solid gray; */
      padding: 20px;
      border-radius: 10px;
  }


  .info::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 400%;

      left: 0%;
      top: -100%;

      z-index: -1;
      transform: rotate(-120deg);
      background: rgba(107, 103, 103, 0.932)
  }

  .info::before {
      position: absolute;
      content: "";
      width: 300%;
      height: 300%;

      left: -40%;
      top: -100%;
      background: #02cdcf;
      z-index: -1;
      transform: rotate(45deg);
  }

  .abou-box-inner span {
      padding: 0px 7px;
      border-radius: 2px;
      background-image: linear-gradient(to right, gray, rgba(0, 0, 0, 0.521));
  }

  .icon-about {
      font-size: 15px;
  }

  .icon-about i {
      margin: 5px;
      background: #161616;
      padding: 10px;
      border-radius: 50%;
      /* position: relative; */
      transition: 0.5s;


  }


  .icon-about i:hover {
      background: #02cdcf;

  }

  /* box of projects and achievement */
  .about-achieve-box {
      border: 1px solid rgba(128, 128, 128, 0.247);
      padding: 40px 20px;
      border-radius: 5px;
      background-color: #111;
      margin-bottom: 10px;
  }

  .about-achieve-box i {
      font-size: 25px;
      color: #02cdcf;
      margin-bottom: 10px;
  }

  /* service section css */
  .service-box {
      border: 1px solid rgba(128, 128, 128, 0.507);
      padding: 30px;
      border-radius: 6px;
      /* background:#111; */
      position: relative;
  }

  .service-box i {
      font-size: 40px;
      padding: 40px;
      background-color: #02cdcf;
      border-radius: 50%;
      margin-bottom: 20px;
  }

  .service-box:before {
      content: "";
      position: absolute;
      background-color: #02cdcf;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      transform: scale(0);
      transition: 0.5s;
  }

  .service-box:hover:before {
      transform: scale(1);
  }

  /* slider section css */
  .image-sec {
      width: 100px;
      height: 100px;
      /* border-radius: 50%; */
      margin: auto;

  }

  .image-sec img {
      border-radius: 50%;
      border: 5px solid gray;
  }

  .carousel-box-item {
      border: 1px solid gray;
      padding: 20px 50px;
      background-color: #161616;
      border-radius: 7px;
  }

  /* pricing section css */
  .price-box {
      border: 1px solid rgba(128, 128, 128, 0.459);
      padding: 20px;
      border-radius: 5px;
      background-color: #111;
      transition: 0.5s;
  }

  .price-box:hover {
      background-color: #269a9c;
      transform: scale(1.1);
      color: white;
  }

  .divider {
      width: 70px;
      margin: auto;
      background: gray;
      height: 3px;
      border-radius: 7px;
  }

  .price-box i.fa-bolt,
  .price-box i.fa-dharmachakra,
  .price-box i.fa-file-alt,
  .price-box i.fa-buffer {
      height: 100px;
      width: 100px;
      font-size: 30px;
      /* padding: 40px; */
      line-height: 100px;
      background-color: #02cdcf;
      border-radius: 50%;

  }

  .price-head {
      color: #02cdcf;
  }

  .price-box i.fa-check-circle {
      color: green;
  }

  /* footer about start */
  .footer-about {
      background-color: #02cdcf;
      padding: 200px;
  }

  /* filter section */
  /* .it { */
  /* width: 350px;
              height: 320px; */



  /* } */
  /* @media (max-width:1023px){
              .it {
              width: 250px;
              height: 250px;

             

          } 
          } */
  .it img {
      height: 100%;
      width: 100%;
      border-radius: 7px;
  }

  .filter-menu ul li {
      list-style: none;
      display: inline-block;
      margin-bottom: 10px;
  }


  .nav-link:hover::before {
      transform: scale(1);
  }

  .nav-link {
      position: relative;
      background: rgba(128, 128, 128, 0.274);
      border-radius: 5px;
  }

  .nav-link::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
      transform: scale(0);
      transition: 0.5s;
      background-color: #02cdcf;

  }

  /* address and contact us */
  .address-inner {
      border: 1px solid rgba(128, 128, 128, 0.493);
      padding: 10px;
      padding-bottom: 0px;
      border-radius: 5px;
      background-color: #111;


  }

    .address-inner i {
      font-size: 20px;
    padding: 13px;
      background-color: #02cdcf;
      border-radius: 3px;
  } 
@media (min-width:1024px){
      .address-inner i {
      font-size: 20px;
    padding: 15px 25px;
      background-color: #02cdcf;
      border-radius: 3px;
  } 
}

  .form-contact-info .form-control {
      background-color: #111;
  }

  .form-contact-info .form-control:hover {
      border: 1px solid #02cdcf;


  }

  .map {
      border: 6px solid gray;
      border-radius: 7px;

  }

/* blog post section css */
  .blog-box{
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 20px;

      }
      .blog-box::before{
        content: "15 october 2020";
        position: absolute;
        right: 7%;
        top:3%;
        background-color:rgb(17, 211, 211);
        padding: 5px;
        border-radius: 4px;
      }
      .blog-box img:hover{
        transform: scale(1.1);
       
      }
      .blog-box img{
        width: 100%;
        height: 100%;
        transition: 0.5s;
      }
      .blog-bg-text{
        background: rgba(128, 128, 128, 0.671);
        border-radius: 4px;
      }
      .blog-box-inner{
        background: rgba(77, 75, 75, 0.432);
      }

